/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */

div {
  color: #ff6666;
}
